<ion-header>
  <ion-navbar color="primary">
    <ion-title>Login</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-grid>

    <ion-row>
      <ion-col col-12>
        <h3 text-center padding>My Starter</h3>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-12>
        <form [formGroup]="loginForm" (ngSubmit)="handleLogin(loginForm.value)">
          <ion-item padding>
            <ion-input placeholder="Phone Number" type="tel" formControlName="phoneNumber"></ion-input>
          </ion-item>
          <ion-item padding>
            <ion-input placeholder="Password" type="password" formControlName="password"></ion-input>
          </ion-item>
          <button block outline ion-button type="submit" [disabled]="!loginForm.valid">Login</button>
        </form>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>
