<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="Orders" tabIcon="list-box"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Drivers" tabIcon="contacts"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Others" tabIcon="information-circle"></ion-tab>
</ion-tabs>
