<ion-header>
  <ion-navbar [color]="navbarColor">
    <ion-title><span>{{ navbarText }}</span></ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-grid>

    <ion-row *ngIf="isDispositor">
      <ion-col col-4 text-left>
        <strong>Forwarded to:</strong>
      </ion-col>
      <ion-col col-5 text-right>{{ order.assigned_user.name }}</ion-col>
      <ion-col col-3 text-right>{{ order.assigned_user.phone_number }}</ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-12>
        <div text-left>
          <strong>Address:</strong>
        </div>
        <ion-row>
          <ion-col col-3 text-left>Street:</ion-col>
          <ion-col col-9 text-right>{{ order.street_and_number }}</ion-col>
        </ion-row>

        <ion-row>
          <ion-col col-2 text-left>City:</ion-col>
          <ion-col col-10 text-right>{{  order.postal_code + ' ' + order.city }}</ion-col>
        </ion-row>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-5 text-left>
        <strong>Client's phone:</strong>
      </ion-col>
      <ion-col col-7 text-right>{{ order.client_phone_number }}</ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-4 text-left>
        <strong>Duration:</strong>
      </ion-col>
      <ion-col col-8 text-right>{{ order.eta || order.pre_eta | date: 'HH:mm dd/MM/yyyy' }}</ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-8 text-left>
        <strong>Gross Vehicle Mass (kg):</strong>
      </ion-col>
      <ion-col col-4 text-right>{{ order.dmc }}</ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-3 text-left>
        <strong>Reason:</strong>
      </ion-col>
      <ion-col col-9 text-right>{{ order.crash_accident }}</ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-3 text-left>
        <strong>Model:</strong>
      </ion-col>
      <ion-col col-9 text-right>{{ order.model }}</ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-3 text-left>
        <strong>Brand:</strong>
      </ion-col>
      <ion-col col-9 text-right>{{ order.brand }}</ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-3 text-left>
        <strong>VIN:</strong>
      </ion-col>
      <ion-col col-9 text-right>{{ order.vin }}</ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-5 text-left>
        <strong>Registration No.:</strong>
      </ion-col>
      <ion-col col-7 text-right>{{ order.registration_number || 'Not available' }}</ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-5 text-left>
        <strong>Program:</strong>
      </ion-col>
      <ion-col col-7 text-right>{{ order.program || 'Not available' }}</ion-col>
    </ion-row>

  </ion-grid>
</ion-content>
