<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Others
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-grid>

    <ion-row>
      <ion-col col-12>
        <button ion-button outline block (click)="logout()">
          Logout
        </button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-12>
        <button ion-button outline block (click)="plt.exitApp()">
          Close App
        </button>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>
