<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Drivers
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let driver of drivers | async">
      <ion-icon name="person" item-left>
      </ion-icon>
      <h4>{{ driver.phone_number }}</h4>
      <h3 >{{ driver.name }}</h3>
    </ion-item>

  </ion-list>
</ion-content>

