<ion-header>
  <ion-navbar color="primary">
    <ion-title>Orders</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      refreshingSpinner="bubbles"
      refreshingText="Refreshing..."
      pullingText="Pull down to refresh"
    >
    </ion-refresher-content>
  </ion-refresher>
  <ion-list>
    <button ion-item *ngFor="let order of orders" (click)="openItem(order.number)">
      <div>{{ order.number }}</div>
      <div>{{ order.dmc + ' kg' }}</div>
      <ion-icon [name]="setIconName(order)" item-right>
      </ion-icon>
    </button>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more orders...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
